.modal {
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 2px solid black;
  background-color: lightgray;
  z-index: 2;
}
