.modal {
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.btn { 
  border: none; 
  outline: none; 
  background: none;
  cursor: pointer;
}